/* my fonts: Roboto, Heebo */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Philosopher:wght@700&family=Roboto:wght@300&display=swap');

/* custom variables */
:root {
  --body-color: #D1F4FA;
  --main-color: #A52AD6;

  --logo-font: 'Philosopher', sans-serif;
  --heading-font: 'Heebo', sans-serif;
  --main-font: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--body-color);
  font-family: var(--main-font);
}

section {
  margin-top: 200px;
}

.container {
  width: 1500px;
}

/* navbar start */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 120px;
  line-height: 120px;
}

.navbar .navbar-wrapper {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-wrapper .logo {
  font-family: var(--logo-font);
  font-size: 1.875rem;
  color: var(--main-color);
}

.navbar .navbar-wrapper .menu {
  display: flex;
  gap: 70px;
}

.navbar .navbar-wrapper .menu .menu-link {
  font-size: 1.25rem;
  font-family: var(--heading-font);
  /* font-weight: 500; */
}

.active {
  border-bottom: 4px solid var(--main-color);
}
/* navbar end */


